.transaction-history{
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  margin: 0 auto 50px auto; 
}
.table-row,
.table-header{
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 50px; 
}

.table-header{
  background-color: cadetblue;
}